.wrapper {
    position: absolute;
    inset: 0px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    //
    // padding: 16px 24px 10px 20px;
    background-color: #fff;

    .header {
        display: flex;
        height: 50px;
        justify-content: space-between;
        padding: 15px;
        background: #f8b4e7;
        .status-header {
            font-weight: 600;
        }

        .zoom-action {
            cursor: pointer;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1;
        width: 100%;
        padding: 24px 0px 16px;
        background: #f6e2f1;
        cursor: pointer;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid #f51662;
        }

        .fullname {
            font-weight: 600;
            margin-top: 10px;
        }

        .total-time {
            color: #7b7178;
        }
    }

    .footer {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f6e2f1;

        .icon {
            margin-right: 15px;
            cursor: pointer;
        }

        .phone-call {
            display: flex;
            align-items: center;
            background: #ff443d;
            color: #fff;
            width: 35px;
            height: 35px;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
